<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hi.aniset">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

             <!--<intent-filter>-->
             <!--<action android:name="android.intent.action.MAIN" />-->


             <!--<category android:name="android.intent.category.LAUNCHER" />-->
             <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Goals"
            android:label="@string/title_activity_goals"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".Diary_Settings"
            android:label="@string/title_activity_diary__settings"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Reminder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".myExercises"
            android:label="@string/title_activity_my_exercises"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".exercise"
            android:label="@string/title_activity_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".goal"
            android:label="@string/title_activity_goal"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>